.back {
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
  width: 20%;
  height: 30%;
  padding-top: 20%;
  padding-bottom: 20%;
}

.formbox {
  box-sizing: border-box;
  /* min-height: 20%; */

  padding: 60px;
  margin-left: 0px;
  margin-right: 10px;
  outline: none;
  /* min-width: 80%; */
  /* height: 10%;
  width: 10%; */

  /* border: 1px solid black; */
  /* margin: 200px 500px 500px 200px; */

  /* position: relative;
  flex-direction: column; */
  /* background-color: lightslategray; */
  color: #272727;

  /* border-radius: 10px;
  border: 0px;

  border-style: solid;
  transition: 200ms;
  max-width: 380px; */

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  /* font: 14px/22px "Lato", Arial, sans-serif;
  color: black;
  display: grid;
  align-items: center;
  width: auto;
  padding-bottom: 10%; */
  /* position:relative for .prevBtn and .nextBtn position:absolute; */
}

.label {
  color: white;
  font-weight: 800;
  display: block;
  text-align: left;
  font-size: 25px;
  margin: 0 0 2vh 0;
  border: 1px red;
  box-sizing: border-box;
  border-color: black;
  -webkit-text-stroke: 1px black;
}
.input {
  display: block;
  background-color: lightgrey;
  align-items: center;
  width: auto;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;

  border-radius: 5px;
  font-size: 20px;
  height: 10px;
}

.submitBtn {
  float: inline-start;
  display: flex;
  width: auto;
  height: 2rem;
  color: lightsteelblue;
  border-radius: 50px;
  border: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 20px;
  margin-top: 0px;
  background-color: none;
  padding: auto;
}
.submitBtn:hover {
  background-color: black;
  transition: 1s background ease;
  width: 100px;
  align-items: center;
}
