.filterContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: none;
  color: white;
  margin-top: 5%;
}

.name {
  font-weight: 300;
}
.box {
  background-color: red;
}
