.footer {
  /* position: fixed; */
  /* position: absolute; */

  flex-shrink: 0;
  height: 50px;
  justify-content: space-around;
}
.center {
  width: 500px;
  margin: 0 auto;
  justify-content: space-around;
}

.center:hover {
  background-color: #0077b6;
  width: auto;
}

.centerDark:hover {
  background-color: #5c7aff;
  width: auto;
}
.number {
  color: black;
  font-weight: 500;
  display: inline-block;
  padding: 10;
  margin: 10px;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 50%;
  justify-content: space-around;
}
.number:hover {
  color: black;
  background-color: white;
  border: black;
  font-size: 30px;
  font-weight: 700px;
}

.numberDark {
  color: black;
  background-color: #27476e;
  font-weight: 500;
  display: inline-block;
  padding: 10;
  margin: 10px;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 50%;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 700px;
}
