.card {
  background: linear-gradient(0deg, #bdb2ff 80%, white 50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #a9a8a3;
  display: grid;
  align-items: center;
  width: auto;
  padding-bottom: auto;
  /* background-color: #bdb2ff; */
  /* padding-left: 41px;
  padding-right: 0px;
  align-items: flex-start;
  padding-top: 30px;
  margin-left: 20px;
  padding-bottom: auto;
  /* width: 300px; */

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 3, 2fr;
  position: relative;
}
.name {
  grid-column: 1 / h1 3;
  color: black;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  height: 150px;
  width: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.959);
  border: black;
}

.type {
  color: black;
  font-size: 18px;
}
